@import "https://unpkg.com/open-props";

.card_list {
  display: flex;
}
.card {
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-conditional-3);
  border: var(--border-size-1) solid var(--gray-1);
  font-size: 5rem;
  width: 100px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
  background-color: var(--grape-5);
  color: white;
}

.card:hover {
  animation: var(--animation-shake-y);
}
